[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pandas = "*"
mysqlclient = "*"
"mysql.connector" = "*"
sklearn = "*"
matplotlib = "*"
wordcloud = "*"
neuralcoref = "*"
spacy = "==2.1.0"
scikit-multilearn = "*"

[requires]
python_version = "3.7"
